<div id="question-text" class="question-text-opened">
    <div>{{ question.text }}</div>
    {% if showman %}
    <div id="question-control">
        <form ws-send>
            <input type="hidden" name="msg_type" value="question_answer">
            <input type="hidden" name="room_name" value="{{ room_name }}">
            <input type="hidden" name="answer" value="correct">
            <input type="hidden" name="question_id" value="{{ question.id }}">
            <input type="submit" value="Корректно">
        </form>
        <form ws-send>
            <input type="hidden" name="msg_type" value="question_answer">
            <input type="hidden" name="room_name" value="{{ room_name }}">
            <input type="hidden" name="answer" value="wrong">
            <input type="hidden" name="question_id" value="{{ question.id }}">
            <input type="submit" value="Нет ответа">
        </form>
    </div>
    {% endif %}
</div>
