:root {
    --background-color: blue;
    --player-color: aliceblue;
    --main-text-color: gold;
    --border-color: gold;
}



/* game room */

#room-container {
  display: flex;
}

#players-container {
  padding: 2vh;
  width: 10vw;
}

.player-div {
  padding: 1vh;
  background-color: var(--player-color);
  border-radius: 1vh;
  margin-bottom: 1vh;
}

.player-name {
  font-size: larger;
  font-weight: bolder;
  margin: 0 0 10px 0;
}

.player-score {
  font-size: larger;
  color:darkgreen;
  font-weight: bolder;
}

#table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 90vw;
}



/* quiz table */

#quiz-table {
    background-color: var(--background-color);
    margin: 0 auto;
    border-collapse: collapse;
}

#quiz-table td {
    color: var(--main-text-color);
    padding: 1vw;
    border: 1px solid var(--border-color);
    border-collapse: collapse;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.question-cost-input,
.player-table-cell {
  background-color: transparent;
  border: 0;
  width: 100%;
  color: var(--main-text-color);
  font-size: 2vw;
}

.topic-name-td {
    width: 20vw;
    font-size: 2vw;
}

.question-cost-td {
    width: 8vw;
    text-align: center;
}

.table-showman-cost-form {
    width: 8vw;
    margin: 0;
}


/* opened question */

#question-text {
    display: hidden;
}

.question-text-opened {
    background-color: var(--background-color);
    border: 3px solid var(--border-color);
    border-radius: 10px;
    text-align: center;
    color: var(--main-text-color);
    font-size: 2vw;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all ease-in 1s;
}



/* login form */

#login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color:#ccc;
  border-radius: 0.2vh;
  padding: 1vh;
}

.login-form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.login-form input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}



/* utils */

.clickable {
  cursor: pointer;
}